{# COLORS #}
{# comment out any swatches not needed by your palette #}

{% set colorset = ['primary', 'secondary', 'tertiary', 'quaternary'] %}
{% set accentset = ['primary', 'secondary', 'tertiary', 'quaternary', 'quinary'] %}
{% set shadeset = ['darkest','dark', 'light', 'lighter','lightest'] %}

{% set rainbow = ['color-quaternary','color-accent-primary', 'color-accent-secondary', 'color-accent-tertiary'] %}

<p><b>Primary Colors</b></p>

<ul class="sg-colors">
	{% for i in colorset %}
	<li>
		<!-- Color {{ i|titleize }}  -->
		<span class="sg-swatch bg-{{ i }}"><pre>$color-{{ i }}</pre></span>
	</li>
	{% endfor %}
</ul>

<p><b>Accent Colors</b></p>
<ul class="sg-colors">
	{% for i in accentset %}
	<li>
		<!-- Color {{ i|titleize }}  -->
		<span class="sg-swatch bg-accent-{{ i }}"><pre>$color-accent-{{ i }}</pre></span>
	</li>
	{% endfor %}
</ul>

<p><b>Grays and Shades</b></p>

<ul class="sg-colors">
	{% for i in shadeset %}
		{% if i is empty %}
			{% set shadename = '' %}
		{% else %}
			{% set shadename = '-' ~ i %}
		{% endif %}
	<li>
		<!-- Shade {{ i|titleize }}  -->
		<span class="sg-swatch bg-shade{{shadename}}"><pre>$color-shade{{shadename}}</pre></span>
	</li>
	{% endfor %}
</ul>



<p><b>Rainbow Set</b></p>
<ul class="sg-colors">
	{% for i in rainbow %}
	<li>
		<!-- Color {{ i|titleize }}  -->
		<span class="sg-swatch bg-rainbow{{ loop.index }}">
			<pre>$rainbow{{ loop.index }} <br /> ${{ i }}</pre>
		</span>
	</li>
	{% endfor %}
</ul>