<div class="text-center checkered-divider">
  <svg width="{{ lineWidth + padding }}" height="{{ 4 * squareWidth }}" xmlns="http://www.w3.org/2000/svg">
    <rect stroke="{{ color }}" id="svg_2" height="{{ squareWidth }}" width="{{ squareWidth }}" y="{{ padding }}" x="{{ (lineWidth / 2) - (squareWidth * 2) }}" stroke-width="1" fill="none"/>
    <rect stroke="{{ color }}" id="svg_3" height="{{ squareWidth }}" width="{{ squareWidth }}" y="{{ padding + squareWidth }}" x="{{ (lineWidth / 2) - squareWidth }}" stroke-width="1" fill="none"/>
    <rect stroke="{{ color }}" id="svg_4" height="{{ squareWidth }}" width="{{ squareWidth }}" y="{{ padding }}" x="{{ (lineWidth / 2) }}" stroke-width="1" fill="none"/>
    <rect stroke="{{ color }}" id="svg_5" height="{{ squareWidth }}" width="{{ squareWidth }}" y="{{ padding + squareWidth }}" x="{{ (lineWidth / 2) + squareWidth }}" stroke-width="1" fill="none"/>
    <line stroke-linecap="null" stroke-linejoin="null" id="svg_6" y2="{{ padding + squareWidth }}" x2="{{ lineWidth }}" y1="{{ padding + squareWidth }}" x1="0" stroke-width="1" stroke="{{ color }}" fill="none"/>
  </svg>
</div>