{# COLORS #}
{# comment out any swatches not needed by your palette #}

{% set colorset = ['wildcat-blue','wildcat-white','wildcat-black','light-blue','medium-blue','dark-blue','light-gray','medum-gray','dark-gray'] %}
{% set othercolors = ['success','info','warning','alert'] %}
{% embed 'molecules-slab' %}
	{% block slab_inner %}
		<h2>Official Colors</h2>
		<div class="sg-colors">
			{% for i in colorset %}
			<div class="sg-colors__swatch">
				Color {{ i|titleize }} <pre>color({{ i }})</pre>
				<span class="sg-swatch bg-{{ i }}"></span>
			</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}

{% embed 'molecules-slab' %}
	{% block slab_inner %}
		<h2>Other Colors</h2>
		<div class="sg-colors">
			{% for i in othercolors %}
			<div class="sg-colors__swatch">
				Color {{ i|titleize }} <pre>color({{ i }})</pre>
				<span class="sg-swatch bg-{{ i }}"></span>
			</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}



