{% for size in sizes %}
    {% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
        {% block slab_inner %}
            <h2>Font size: {{ size }}</h2>
            {% for spacing in ['tight','medium','wide','huge','redic'] %}
                <p class="font-avenirnext text-{{ size }}{% if spacing is not empty %}-{{ spacing }}{% endif %}">
                    {% spaceless %}
                    Font, size <b>{{ size }}</b>, {{ spacing }} lineheight. {{ sentences }}
                    {% endspaceless %}
                </p>
                <p class="font-mercury text-{{ size }}{% if spacing is not empty %}-{{ spacing }}{% endif %}">
                    {% spaceless %}
                    Font, size <b>{{ size }}</b>, {{ spacing }} lineheight. {{ sentences }}
                    {% endspaceless %}
                </p>
            {% endfor %}
            {% if not loop.last() %}<hr />{% endif %}
        {% endblock %}
    {% endembed %}
{% endfor %}