<h2>Numerify:</h2>
<p>{{ fake('numerify','test-###') }}</p>
<p>{{ fake('numerify',{string : 'test-###'} ) }}</p>
<h2>Lexify:</h2>
<p>{{ fake('lexify','test-???') }}</p>
<p>{{ fake('lexify',{string:'test-???'}) }}</p>
<h2>Bothify:</h2>
<p>{{ fake('bothify','test-???-###-???') }}</p>
<p>{{ fake('bothify',{string:'test-???-###-???'}) }}</p>