<div style="padding:20px; background:#0033a0">
	<a href="/patternlab" class="site-identity">
		<div class="site-identity__main">
			<div class="site-identity__logo">
				{% include 'atoms-uk-logo' %}
			</div>
			<div class="site-identity__wordmark">
				<span class="site-identity__wordmark__row--subhead">{{lockup_wordmark_1 | default('Department of') }}</span>
				<span class="site-identity__wordmark__row">{{lockup_wordmark_2 | default('Strategic Communications') }}</span>
			</div>
		</div>
	</a>	
	<br/>
		<a href="/patternlab" class="site-identity">
		<div class="site-identity__main">
			<div class="site-identity__logo">
				{% include 'atoms-uk-logo' %}
			</div>
			<div class="site-identity__wordmark">
				<span class="site-identity__wordmark__row">{{lockup_wordmark_2 | default('Strategic Communications') }}</span>
				<span class="site-identity__wordmark__row--subhead no-mobile">{{lockup_wordmark_1 | default('Department') }}</span>
			</div>
		</div>
	</a>	
	<br/>
	<a href="/patternlab" class="site-identity">
		<div class="site-identity__main">
			<div class="site-identity__logo">
				{% include 'atoms-uk-logo' %}
			</div>
			<div class="site-identity__wordmark">
			<span class="site-identity__wordmark__row">{{lockup_wordmark_1 | default('Strategic ') }}</span>
				<span class="site-identity__wordmark__row">{{lockup_wordmark_2 | default('Communications') }}</span>
			</div>
		</div>
	</a>

	<br/>
	<a href="/patternlab" class="site-identity">
		<div class="site-identity__main">
			<div class="site-identity__logo">
				{% include 'atoms-uk-logo' %}
			</div>
			<div class="site-identity__wordmark">
				<span class="site-identity__wordmark__row">{{lockup_wordmark_2 | default('Strategic Communications') }}</span>
			</div>
		</div>
	</a>

</div>