{% set sizes = ["xs","s","m","l","xl","2xl","3xl","4xl","5xl"] %}
{% set sentences = fake('sentences',{nb: 10, asText: true} ) %}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
    <h2>Usual</h2>
    <div class="font-usual">
        <p>Normal text | {{ sentences }}</p>
        <p style="font-style: italic ">Italic text | {{ sentences }}</p>
        <p style="font-weight: 500;">Medium text | {{ sentences }}</p>
        <p style="font-style: italic; font-weight: 500;">Medium italic text | {{ sentences }}</p>
        <p style="font-weight: bold;">Bold text | {{ sentences }}</p>
        <p style="font-style: italic; font-weight: bold;">Bold italic text | {{ sentences }}</p>
    </div>
    {% endblock %}
{% endembed %}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
        <h2 class="font-surveyor">Surveyor</h2>
        <div class="font-surveyor">
            <p>Normal text {{ sentences }}</p>
            <p style="font-style: italic ">Italic text {{ sentences }}</p>
            <p style="font-weight: bold;">Bold text {{ sentences }}</p>
            <p style="font-style: italic; font-weight: bold;">Bold italic text {{ sentences }}</p>
        </div>
    {% endblock %}
{% endembed %}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
        <h2 class="font-gothic-atf">ATF Alternate Gothic</h2>
        <div class="font-gothic-atf">
            <p>Normal text {{ sentences }}</p>
            <p style="font-style: italic ">Italic text {{ sentences }}</p>
            <p style="font-weight: bold;">Bold text {{ sentences }}</p>
            <p style="font-style: italic; font-weight: bold;">Bold italic text {{ sentences }}</p>
        </div>
    {% endblock %}
{% endembed %}

{# {% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
        <h2 class="font-mercury">Mercury</h2>
        <div class="font-mercury">
        <p>Normal text {{ sentences }}</p>
        <p style="font-style: italic ">Italic text {{ sentences }}</p>
        <p style="font-weight: bold;">Bold text {{ sentences }}</p>
        <p style="font-style: italic; font-weight: bold;">Bold italic text {{ sentences }}</p>
        </div>
    {% endblock %}
{% endembed %} #}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
        <h2 class="font-blackbikerough">Blackbike Rough</h2>
        <div class="font-blackbikerough">
            <p>Normal text {{ sentences }}</p>
            <p style="font-weight: bold;">Bold text {{ sentences }}</p>
        </div>
    {% endblock %}
{% endembed %}

{% embed 'molecules-slab' with { slab_variant : "slab--transparent" } %}
    {% block slab_content %}
        <h2 class="font-blackbikeclean">Blackbike Clean</h2>
        <div class="font-blackbikeclean">
            <p>Normal text {{ sentences }}</p>
            <p style="font-weight: bold;">Bold text {{ sentences }}</p>
        </div>
    {% endblock %}
{% endembed %}
