<div class="news-story">

	<div class="news-story-header">
		{% include 'molecules-news-meta' with {
			media_type: 'video'
		} %}

		{% include 'molecules-headline-group' with {
			headline: 'Title of this News Story',
			level: 1,
			style_modifier: 'section-title'
		} %}
	</div>

	<div class="news-story-video">
		{% include 'atoms-youtube-full-size' with {
			youtube: 'bOMGh0CxRzU',
			show_caption: true,
			show_credit: true
		} %}
	</div>

	<div class="news-story-body">

		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>

		{% include 'atoms-heading' with {
			level: 3,
			headline: 'News Story Subheader'
		} %}
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>

		{% include 'atoms-heading' with {
			level: 4,
			headline: 'Another News Story Subheader'
		} %}
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>

		{% include 'atoms-youtube-full-size' with {
			youtube: 'bOMGh0CxRzU',
			show_caption: true,
			show_credit: true
		} %}

		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>

		<ul>
			{% for i in 0..4 %}
				<li>{{ fake('words',{nb:6,asText:true}) }}</li>
			{% endfor %}
		</ul>

		<ol>
			{% for i in 0..4 %}
				<li>{{ fake('words',{nb:6,asText:true}) }}</li>
			{% endfor %}
		</ol>


		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>


		{% include 'organisms-aside' %}

		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>

		{% include 'atoms-pullquote' %}

		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>
		<p>{{ fake('sentences',{nb:8,asText:true}) }}</p>

	</div>


	<div class="news-story-footer">

		<div class="share-story">
			{% include 'atoms-share-link' %}
		</div>

		{% include 'molecules-news-story-credits' %}

		{% include 'molecules-news-story-tags' %}

		{% if show_related_stories %}
			{% include 'organisms-news-collection' with {
				collection_headline: 'You might also like...',
				collection_headline_level: 4,
				num_stories: 3,
				show_story_thumbnails: true,
				story_type_on_thumbnail: true,
				story_media_type_randomize: true,
				show_story_summaries: false
			} %}
		{% endif %}

	</div>

</div>