<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
	<head>
		<title>Patternlab {{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

		<!-- Style dependency for modals -->
		<link rel="stylesheet" href="https://unpkg.com/magnific-popup@^1.1/dist/magnific-popup.css">
		<script src="../../js/jquery.min.js" defer></script>
		<script src="../../js/jquery.fitvids.js" defer></script>
		<!--
			This modernizr library is custom built by gulp after scanning CSS files.
			It will change often during production.
		-->
		<script src="../../js/modernizr-custom.js" defer></script>

		
		<script src="../../js/baseline.js" defer></script>
		<script src="../../js/masonry.pkgd.min.js" defer></script>
		<script src="../../js/imagesloaded.pkgd.min.js" defer></script>

		<script src="../../js/jquery-accessible-accordion.js" defer></script>
		<script src="../../js/jquery-accessible-modal-window-aria.js" defer></script>
		<script src="../../js/slick/slick.min.js" defer></script>
		
		<!-- Dependency for modals -->
		<script src="https://unpkg.com/magnific-popup@^1.1/dist/jquery.magnific-popup.min.js" defer></script>

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead|raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
	<div class="toggleGroup">
		<button class="gridToggle">Toggle Grid</button>
		<!-- Disabled until we have comment parsing turned on 
		<button class="includeToggle">Toggle Includes</button>
		-->
	</div>
