<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
	<head>
		<title>Patternlab {{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<script src="../../js/lib/modernizr-custom.js"></script>
		<script src="../../js/lib/jquery.min.js"></script>
		{{ attach_library('base') }}
		
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead|raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
	<div class="toggleGroup">
		<button class="gridToggle">Toggle Grid</button>
		<!-- Disabled until we have comment parsing turned on 
		<button class="includeToggle">Toggle Includes</button>
		-->
	</div>
