
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

<nav id="MainNav" class="global-megamenu global-megamenu--dark global-nav {{ mobile ? 'global-megamenu--mobile' }}" aria-labelledby="{{ uniqid }}">
    <div class="show-for-sr" id="{{ uniqid }}">Main Navigation</div>
    <a href="/patternlab/" class="ic ic--home"><span class="show-for-sr">Return to Home Page</span></a>
    {{ _self.menu_links(menus, 0, mobile) }}
</nav>


{% macro menu_links(items, menu_level, mobile) %}
  {% if items %}
      {% for item in items %}
        {%
          set classes = [
            'global-megamenu__menu-button',
            'global-megamenu__level_1',
            item.in_active_trail ? 'active-trail',
            item.below ? 'has-submenu'
          ]
        %}

          <a class="link-expandable__button {{ classes|join(' ') }}"role="button" aria-haspopup="true" aria-expanded="false" tabindex="0">
              {{ item.title }}
          </a>
            {% if item.below %}
              {% if mobile %}
                {{ _self.mobile_submenu_links(item.below, menu_level + 1, item.title) }}
              {% else %}
                {{ _self.submenu_links(item.below, menu_level + 1, item.title) }}
            {% endif %}
          {% endif %}
      {% endfor %}
  {% endif %}
{% endmacro %}

{% macro submenu_links(items, menu_level, title) %}
  <div class="global-megamenu__slab global-megamenu__slab--dark">
    <div class="grid grid--major-right">

      <div class="grid__column grid__column--minor">
        <div class="global-megamenu__description">
          {% include "atoms-heading" with { headline: title } %}
          {% include "atoms-paragraph" %}
        </div>
      </div>

      <div class="grid__column grid__column--major">
        <div class="grid grid--3-up">
        {% for column in items|batch((items|length/3)) %}
          <div class="grid__column mega-menu__submenus">
              {% for item in column %}
                {% include 'atoms-link' with { label: item.title, url: item.url } %}
              {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endmacro %}

{% macro mobile_submenu_links(items, menu_level, title) %}
  <div class="global-megamenu__mobile-slab">
      {% include 'atoms-link' with { url:"#", link_variant: 'link--fancy-reverse', label: 'Back' } %}
    <h3>{{ title }}</h3>
        <div class="grid grid--2-up">
            {% for column in items|batch((items|length/2)) %}
              <div class="grid__column global-megamenu__submenus">
                  {% for item in items %}
                      {% include 'atoms-link' with { label: item.title, url: item.url } %}
                  {% endfor %}
              </div>
            {% endfor %}
        </div>
  </div>
{% endmacro %}