<div class="section-nav {{ section_nav_variant|default('section-nav--blue-gray') }}">
    <nav aria-labelledby="sectionNavigationLabel">
        <h2 id="sectionNavigationLabel"><span class="show-for-sr">Section Navigation: </span>{% include 'atoms-link' with { link_variant: 'link--fancy-reverse', label: 'Parent Page/Section' } %}</h2>
        <ol>
            {% for i in 1 .. 5 %}
                {% set current = "" %}
                {% if i is sameas(2) %}
                    {% set current = 'aria-current="page"' %}
                    {% set current_trail = 'class="current-item"' %}
                {% endif %}
                {% spaceless %}
                <li {{ current_trail }}><a href="#" {{ current }}>{{ fake('words',{ nb: 2 + random(10), asText: true})|titleize }}</a>
                    {% if current is not sameas("") %}
                        <h3 class="show-for-sr">Child pages:</h3>
                        <ol>
                        {% for i in 1 .. 3 %}
                            <li><a href="#">{{ fake('words',{ nb: 2 + random(10), asText: true})|titleize }}</a></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </li>
                {% endspaceless %}
            {% endfor %}
        </ol>
    </nav>
</div>