{% set columns = 4 + random(2) %}
{% set rows = 4 + random(10) %}
{% set numberColumn = random(columns - 1) + 1 %}
<table class="basic-table {{ table_style_modifier|default('content-table') }}">
	<caption class="basic-table__caption">This is a description for the table, and it can <a href="http://www.example.com/">include some basic HTML</a>.</caption>
	<thead class="basic-table__head">
		<tr>
			{% for i in 0 .. columns %}
		<th {% if i == numberColumn %}class="align-right"{% endif %}>{{ fake('words',{ nbWords: 1 + random(2), asText: true })|titleize }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody class="basic-table__body">
		{% for i in 0 .. rows %}
			<tr>
				{% for i in 0 .. columns %}
					{% if loop.first %}
					<th>{{ fake('words',{ nbWords: 1 + random(2), asText: true })|titleize }}</th>
					{% else %}
						{% if i == numberColumn %}
							<td class="align-right">{{ random(20000) }}</td>
						{% else %}
							<td {% if i == numberColumn %}class="align-right"{% endif %}>{{ fake('sentence')}}</td>
						{% endif %}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
