{# 
    Reference SVGs from our Material SVG spritesheets
    Revised 3/7/2018 based on https://www.sitepoint.com/tips-accessible-svg/
 #}
{% set sheetlocation = '../../images/sprites/' %}
{% set id = svgid ~ '_'|uniqid %} {# Aria-labelledby needs the ids of the elements that serve as the label for that component. Those IDs must be unique, of course… #}
{% spaceless %}
<svg role="img" class="{{ class|default('icon') }}" {% if title is empty %}aria-hidden="true"{% else %}aria-labelledby="{{ id }}"{% endif %}>
    {% if title is not empty %}
    <title id="{{ id }}">{{ title }}</title>
    {% endif %}
    <use xlink:href="{{ sheetlocation ~ iconset|default('standard') }}_icons.svg#{{ svgid|default('design--home') }}" />
</svg>
{% endspaceless %}
