<ul class="accordion" {% if tabcordion %}data-responsive-accordion-tabs="accordion medium-tabs"{% else %}data-accordion{% endif %}>
	{% for i, panel in panels %}
		{% set id = "panel-" ~ panel.title|clean_id %}
		<li class="accordion-item{% if (i == 0) %} is-active{% endif %}" data-accordion-item>
			<a href="#{{ id }}" class="accordion-title" id="{{ id }}-heading">{{ panel.title }}</a>
			<div class="accordion-content" id="{{ id }}" data-tab-content>
				{{ panel.content|markup }}
			</div>
		</li>
	{% endfor %}
</div>