{% set section_nav_label = "sectionNavigationLabel"|uniqid %}
<div class="section-nav {{ section_nav_variant|default('section-nav--blue-gray') }}">
    <nav aria-labelledby="{{ section_nav_label }}">
        <h2 id="{{ section_nav_label }}"><span class="show-for-sr">Section Navigation: </span>{% include '@limestone/link.twig' with { link_variant: 'link--fancy-reverse', label: 'Parent Page/Section' } only %}</h2>
        <ol>
            {% for link in links %}
                {% set current = "" %}
                {% set current = (link.current_item) ? 'aria-current=page' : '' %}
                {% set current_trail = (link.current_item) ? 'class=current-item' : '' %}
                {% spaceless %}
                <li {{ current_trail }}
                ><a href="{{link.url}}" {{ current }}>{{ link.label}}</a>
                </li>
                {% endspaceless %}
            {% endfor %}
        </ol>
    </nav>
</div>