<p><b>This text has no alignment specified. Foobar</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="text-left"><b>This text is aligned left.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="text-center"><b>This text is aligned center.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="text-right"><b>This text is aligned right.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="text-justify"><b>This text is justified left and right.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="text-justified-and-ancient"><b>This text is justified and ancient.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
