<p><b>This text has no alignment specified. Foobar</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="align-left"><b>This text is aligned left.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="align-center"><b>This text is aligned center.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="align-right"><b>This text is aligned right.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="align-justify"><b>This text is justified left and right.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
<p class="align-justified-and-ancient"><b>This text is justified and ancient.</b> {{ fake('paragraph', {nbSentences: 10}) }}</p>
